<div class="container col-md-12">
  <div class="well">
      <div class="page-header">
        <h1> Sign In</h1>
      </div>

      <%= form_tag login_path do %>

      <div class="form-group">
        <div class="field">
          <div class="control-label">
            <%= label_tag :email %> <br />
            <%= email_field_tag :email %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="field">
          <div class="control-label">
            <%= label_tag :password %> <br />
            <%= password_field_tag :password %>
          </div>
        </div>
      </div>

      <div class="form-group">
          <div class="action">
            <%= submit_tag "Sign In", class: "btn btn-primary" %>
          </div>
      </div>
      <% end %>
  </div>
</div>
