<div class="pull-right">
  <%= link_to 'Add A Recipe', new_recipe_path, class:"btn btn-primary" %>
</div>

<h1>All recipes</h1>
<br>

<table>
<tr>
  <th>Title</th>
  <th>Description</th>
  <th>Instruction</th>
</tr>
<tr>
  <% @recipes.each do |recipe| %>
      <td><%= link_to recipe.title, recipe_path(recipe) %></td>
        <td><%= recipe.description %></td>
          <td><%= recipe.instruction %></td>

          <td><%= link_to "edit", edit_recipe_path(recipe) %>&nbsp;&nbsp;&nbsp;</td>
          <td><%= link_to "delete", recipe, method: :delete,
                                  data: { confirm: "You sure?" } %></td>

  </tr>
  <% end %>
</table>
