<h1 class= "page-header"> <%= @recipe.title %></h1>

Description: <%= @recipe.description %><br>
Instruction: <%= @recipe.instruction %>

<%= form_for @user_recipe do |f| %>
<%= f.label :user_id, "Share with" %>
<%= f.collection_select :user_id, User.all, :id, :email  %>
<%= f.hidden_field :recipe_id, :value => @recipe.id %>
<%= f.submit "Share" %>
<% end %>

<div><%= link_to 'Add a Review', new_recipe_review_path(@recipe), class:"btn btn" %></div>

<table class="table">
  <thead>
  <tr>
    <th>Reviews</th>
    <th>Reviewer</th>
  </tr>
</thead>
  <tbody>
  <tr>
    <% @recipe.reviews.each do |review| %>
    <td><%= review.description %></td>
    <td><%="#{current_user.full_name}" %>
        <%= link_to "edit", edit_recipe_review_path(@recipe, review) %> &nbsp;&nbsp;&nbsp;</td>
        <td><%= link_to "delete", recipe_review_path(@recipe, review), method: :delete,
        data: { confirm: "You sure?" } %></td>
  </tr>
  </tbody>
<% end %>
</table>
